.login {
  margin-top: 150px;
}

.form-signin2 {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin2 .checkbox {
  font-weight: 400;
}
.form-signin2 .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin2 .form-control:focus {
  z-index: 2;
}

.top-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


.bottom-input {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#password-validation {
  margin-bottom: 20px;
}

#password-validation, #user-validation {
  color: red;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}
