/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  z-index: 2 !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #007bff;
  cursor: pointer;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
.modal-open {
  padding-right: 0 !important;
}


/* custom css */

.testparag {
  color: #000;
}
.testh {
  color: #000;
  padding-bottom: 1rem;
}


/* ----- Modal ------ */

.iotModal .modal-footer {
  border-top: none;
  padding-top: 0;
} 

.iotModal .input-group {
  margin-bottom: .375rem;
}

.iotModal .colori {
  font-size: 14px;
}

.iotModal .sizeu {
  font-size: 20px;
}

.iotModal .inputbox,
.iotModal .inputbox:focus {
    font-size: 16px;
    padding: 10px;
    margin: 0 20px;
    border-width: thick;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    box-shadow: none;
    height: 2rem;
  /*text-align: center;*/
    border-radius: 0;
}

.iotModal .inputbox::placeholder {
    opacity: 0.5;
}

.iotModal .inputbox:focus::placeholder {
  color: #007bff;
  opacity: 0.5;
  border-color: #007bff;
}

.ig-width {
  /*width: 70% !important;*/
  min-width: 200px;
  margin: auto;
  display: flex;
}

.iotModal .empty-input-alert input,
.iotModal .empty-input-alert label {
  border-color: orangered;
  border-width: thick;
  color: orangered;
}

.iotModal .modal-header-custom {
  background-color: #007bff !important;
  font-size: 18px !important;
}

.iotModal .modal-header-custom h5 {
  font-size: 18px !important;
}

.product-pic-modal {
  text-align: center;
  border: none;
}

.product-pic-modal img {
  padding: 0.25rem;
  /*border: 0.0625rem solid #e3e3e3;*/
  /*border-radius: 0.25rem;*/
  /*box-shadow: 0 1px 2px rgba(34, 42, 66, 0.075);*/
}

.quantity {
  width: 40px;
  height: 40px;
  max-width: 3.75rem;
  font-size: 20px;
  color: black;
  text-align: center;
}

.iotModal .modal-content {
    border-radius: 0;
    border: 0 none;
}

.iotModal .modal-content .modal-footer {
  display: flex !important;
  justify-content: center !important;
}

.iotModal .btn-custom-iot {
  padding: 7px 20px !important;
  display: none;
}


/* ------- */


a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.MyOverRideClass {
  text-align: center;
  border-radius: 50%;
}



@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#logo-text {
  font-weight: bold;
  color: #00366f;
  margin-bottom: 7px;
}

#homelink {
  font-weight: 600;
  max-width: 70%;
}

.navbar-site {
  background-color: white !important;
  /* height: 75px !important; */
  -webkit-box-shadow: 0 20px 15px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 20px 15px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
}

.navbar-site .container {
  padding: 0;
}

#navbar-items-custom li a {
  color: #00366f;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,54,111)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 4l24 24M4 28l24 -24'/%3E%3C/svg%3E");
}

.custom-toggler .collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,54,111)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  /*border-color: rgb(0, 54, 111);*/
}

#logo-img {
  padding: 5px 0 5px 0;
  margin: 0;
  max-height: 44px;
  max-width: 100%;
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h2 a,
#header .logo h2 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.main-pages {
  margin-top: 60px;
}

.navbar .btn-custom-iot,
.iotModal .btn-custom-iot,
.navbar .btn-custom-iot:focus,
.iotModal .btn-custom-iot:focus {
  border-radius: 50px !important;
  color: #fff !important;
  background: #007bff !important;
  border: 2px solid #007bff !important;
}

.navbar .btn-custom-iot:hover,
.iotModal .btn-custom-iot:hover {
  background: white !important;
  color: #007bff !important;
  text-decoration: none !important;
}

.iotModal .btn-custom-cancel {
    border-radius: 50px !important;
    color: #007bff !important;
    background: transparent !important;
    border: 2px solid #007bff !important;
}

.iotModal .btn-custom-cancel:hover {
    color: #007bff !important;
    background: white !important;
    border: 2px solid #007bff !important;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#introw {
  width: 100%;
  position: relative;
  background-size: cover;
  padding: 150px 0 0 0;
  background: url("../img/intro-bg.png") no-repeat center bottom;
}

#intro-bottom {
  width: 100%;
  height: 99px;
  position: relative;
  margin-top: -99px;
  background-size: cover;
  background: url("../img/intro-bg-bottom.png") no-repeat center bottom;
}

@media (min-height: 700px) {
  #introw {
    height: auto;
    padding: 200px 0 0 0;
    margin-bottom: 25px;
  }

  #intro-bottom {
    margin-top: -124px;
  }

  #introw .intro-info {
    padding-top: 65px;
    width: 30%;
  }
}

#modal-img {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#modal-img img {
  width: 50%;
  height: 50%;
}

#introw .intro-img {
  height: 50%;
  width: 50%;
  float: right;
}

#introw .intro-info {
  padding-top: 65px;
  width: 40%;
  float: left;
}

#introw .intro-info h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 700;
}

#introw .intro-info h2 span {
  color: #74b5fc;
  text-decoration: underline;
}

#introw .intro-info .btn-get-started,
#introw .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

#introw .intro-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

#introw .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
  text-decoration: none;
}

#introw .intro-info .btn-services {
  background: transparent;
  border: 2px solid #fff;
}

#introw .intro-info .btn-services:hover {
  background: white;
  border-color: white;
  color: #007bff;
  text-decoration: none;
}

.iotModal .table {
  margin-bottom: 0;
}

.iotModal .button-div {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.iotModal .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 0;
  transition: 0.5s;
  color: #fff;
  width: 30%;
  height: 3rem;
  margin: 10px auto;
  /*box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);*/
}

.iotModal .btn:hover {
  /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
}

.iotModal .btn:focus {
  /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
}

.iotModal .btn:active {
  /*box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;*/
}

.iotModal .btn-submit,
.iotModal .btn-submit:hover,
.iotModal .btn-submit:focus {
  color: white;
  background: #007bff;
  border: 2px solid #007bff;
}

.iotModal .btn-submit:active {
  color: white !important;
  background: #1545b3 !important;
  border: 2px solid #1545b3 !important;
}

.iotModal .btn-cancel,
.iotModal .btn-cancel:hover,
.iotModal .btn-cancel:focus {
  color: #007bff;
  background: white;
  border: 2px solid #007bff;
}

.iotModal .btn-cancel:active {
  color: #007bff !important;
  background: whitesmoke !important;
  border: 2px solid #007bff !important;
}

.iotModal .btn-spinner {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  color: grey;
  background: transparent;
  border: 0 none;
  font-size: 20px;
}

.iotModal .text-field {
    margin: 5px 0 5px 5px;
    padding-right: 10px;
    /*width: 50%;*/
}

.iotModal .order-form {
    /*overflow-x: unset;*/
    /*overflow-y: scroll;*/
    /*max-height: 200px;*/
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #004289;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #007bff;
  text-decoration: none;
}

/* .main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
} */

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 20px;
  padding-bottom: 30px;
  color: #2b3642;
  width: 85%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #ecf5ff;
}

/* About Us Section
--------------------------------*/

#phonepng {
  max-width: 270px;
}

#about {
  background: #fff;
  padding: 80px 0;
}

#wrapper-features1 {
  padding-top: 1rem;
}

#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 16px;
  color: #2b3642;
  text-align: justify;
}

#about .about-extra .description {
  color: #2b3642;
  text-align: justify;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

.img-feature-desc {
  max-width: 300px;
  max-height: 420px;
  height: auto;
  display: block;
  margin: auto;
}

/* Video Section
--------------------------------*/

#video {
  width:100%;
  margin: 0;
  padding:0;
  text-align: center;
}

#video-install {
  background: url("../img/video-pic.jpg");
  background-repeat:no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  
}

#video .video-pic {
  position: relative;
  height: 650px;
  z-index: 1;
}

#video .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: #555;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


/* Portfolio Section
--------------------------------*/

#portfolio {
  padding: 80px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#portfolio .container .section-header {
  padding-bottom: 65px;
}

/* Testimonials Section
--------------------------------*/

#testimonials {
  /* margin-top: 60px; */
  padding: 70px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}

/* #testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #007bff;
} */

/* Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

#team .member {
  text-align: center;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#team .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: 50px;
  transition: margin 0.2s;
}

#team .member .member-info-content span {
  font-family: "Open Sans", sans-serif;
}

#team .member:hover .member-info {
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #007bff;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}



/* FAQ Section
--------------------------------*/

#faq {
  padding: 70px 0 50px 0;
}

#faq .card-header {
  padding: 0.75rem;
}

#faq .faq-header {
  margin-bottom: 40px;
}

#faq .btn-faq {
  width: 100%;
  text-decoration: none;
  text-align: left;
  white-space: normal;
}

#faq .faq-question {
  /*margin: 10px !important;*/
  font-weight: 400;
  font-size: 1rem;
  color: #007bff;
}

#faq .card-faq {
  background: white !important;
}

#faq .card-faq .card-header {
  border-left: 5px solid #007bff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#faq .card-faq .card-header h2 h5 {
  display: inline-block;
  color: #007bff;
  font-weight: bold;
  font-size: large;
  margin-right: 5px;
  margin-bottom: 0;
}

#faq .card-faq .card-header h2 {
  display: inline-block;
}

#faq .card-body {
  padding: 20px 25px;
}

#faq .card-body h5 {
  color: #007bff;
  font-weight: bold;
  font-size: large;
}



/* Contact Section
--------------------------------*/

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 85px 0;
  overflow: hidden;
  background-color: white !important;
}

#contact .form-control {
  color: black !important;
  font-size: 15px !important;
}

#contact .form-control:focus {
  border-color: #0067d5 !important;
}

#contact .contactForm {
  color: black !important;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}

#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .press-kit,
#footer .press-kit:hover,
#footer .press-kit:focus {
  color: white;
  cursor: pointer;
}

#footer .press-kit:hover {
  text-decoration: underline;
}

.leaflet-container {
  width: 100%;
  height: 30vh;
  z-index: 1 !important;
}

#location-image {
  width: 40px;
  height: 40px;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 0 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}


#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #introw .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #introw .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #why-us .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
  #video-install {
   background-attachment: local;
  }
  #video .video-pic {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .order-modal {
    max-width: 750px !important;
  }
}

@media (min-width: 992px) {
  .order-modal {
    max-width: 850px !important;
  }
}

@media (max-width: 767px) {
  #introw .intro-info {
    width: 100%;
  }

  #introw .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #introw {
    padding: 100px 0 20px 0;
  }
  #intro-bottom {
    visibility: hidden;
  }
  #introw .intro-info {
    padding-top: 10px;
  }
  #intro-img-1 {
    padding-top: 40px;
    vertical-align: bottom;
  }

}

/*************************/
/*        Loader         */
/*************************/
.loader {
  background-color: white;
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #007bff;
  border-radius: 50%;
  animation: load 1000ms infinite ease;
  transition: opacity 200ms;
}

@keyframes load {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.loader--hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s;
}

.page-show {
  animation: load-content ease 4s;
  -webkit-animation: load-content ease 4s;
  -moz-animation: load-content ease 4s;
  -o-animation: load-content ease 4s;
  -ms-animation: load-content ease 4s;
}

@keyframes load-content {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes load-content {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes load-content {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes load-content {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes load-content {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

/****************************
number spinner
*****************************/
.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  padding: 0;
}
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  /*margin-bottom: 3rem;*/
  /*margin: auto;*/
  /*display: flex;*/
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: fit-content;
  border-radius: 0;
}
.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}
.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

/****************************
chart-loading
*****************************/

.chart-loader {
  background-color: transparent;
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
  width: 4em;
  height: 4em;
  border: .3em solid rgba(0, 0, 0, 0.2);
  /*border-left: .3em solid #007bff;*/
  border-left: .3em solid #fff;
  border-radius: 50%;
  animation: chart-load 1000ms infinite ease;
  transition: opacity 200ms;
}

@keyframes chart-load {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.chart-loader-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 2s, opacity 1s linear 1s;
}

.chart-loader-fast-hide {
  visibility: hidden;
  opacity: 0;
}

.chart-page-show {
  animation: chart-load-content ease 2.5s;
  -webkit-animation: chart-load-content ease 2.5s;
  -moz-animation: chart-load-content ease 2.5s;
  -o-animation: chart-load-content ease 2.5s;
  -ms-animation: chart-load-content ease 2.5s;
}

@keyframes chart-load-content {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes chart-load-content {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes chart-load-content {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes chart-load-content {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes chart-load-content {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

